body {
    background-color: #D1D1D1;
    font: Lato, sans-serif;
    font-weight: 400;
    color: #1C2026;
}

.wrapper {
    width: 100%;
}

.logo {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 22px;
}

p, div, span, input, label {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #1C2026;
}

.highlight {
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.makeblock {
    display: block;
}

.labelbuttons {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #1C2026;
    padding: 20px;
    border-width: 0;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    margin: 6px;
}

.greybut {
     background-color: #F5F5F5;
}

.redbut{
     background-color: #FF1919;
}

.greenbut {
     background-color: #00CC66;
}

.yellowbut {
     background-color: #FCEC25;
}

.centrera {
   text-align:center;
}
