body {
    font: Lato, sans-serif;
    font-weight: 400;
}

p {
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.highlight {
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.auto-style1 {
    width: 411px;
    height: 113px;
}

.auto-style2 {
    height: 258px;
}
